<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <title>فعال سازی حساب</title>
</head>

<body style="padding: 0px;margin: 0px;width: 100%;height: 100%;background-color: #131315;">
    <main style="height: 100%; width: 100%;">
        <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" style="margin: 0; padding: 0;">
            <tr>
                <td align="center" valign="middle">
                    <div style="width: 100%; max-width: 700px; padding-bottom: 5rem;">
                        <div style="width:100%; font-size: 2rem;align-items: center;">
                            <div class="neon-border" style="text-align: center; margin-top: 2rem;width: 100%;">
                                <h1 style="font-weight: 700;font-size: 5rem; margin: 0;color: #00ffff;font-family: 'Edu VIC WA NT Beginner', 'cursive';"
                                    class="neon-text-3d">
                                    Virtual Learn
                                </h1>
                            </div>
                        </div>
                        <img src="https://buckettest.storage.c2.liara.space/uploads/mails-images/6.png"
                            style="margin-top: -2rem;width: 100%;filter: drop-shadow(2px 2px 110px #332876)" />

                        <div style="margin-top: -3rem;">
                            <h2
                                style="font-family: 'Rubik', sans-serif; font-size: 2.5rem; color: white;font-weight: 700;margin: 0px;text-align: center; padding-left: 2rem;padding-right: 2rem; line-height: 4.5rem;">
                                <%=user.name%>
                            </h2>
                            <p style="font-family: 'Rubik', sans-serif;margin-top: 2rem; font-size: 1.2rem;color: white; font-weight: 400;padding-left: 2rem;padding-right: 2rem;text-align: center;line-height: 2.2rem;"
                                dir="rtl">کد فعال سازی تا پنج دقیقه معتبر هست. لطفا
                                کد را کپی کرده و در محل تایید کد در سایت پیست کنید</p>

                            <div
                                style="padding-top: 1.5rem; cursor: pointer; width: 100%; margin-top: 2rem; height: 5rem; background-color: #001823; box-shadow: 0px 0px 15px #002335 ;border-radius: .5rem;">
                                <span id="text-to-copy"
                                    style="font-family: 'Rubik', sans-serif; color:white ;font-size: 2.5rem;font-weight: 700;text-align: center;">
                                    <%= activationCode %>
                                </span>
                            </div>
                        </div>

                        <footer
                            style="margin-top: 10rem;padding-left: 2rem;padding-right: 2rem; color: white;border-top: 3px solid rgb(0, 153, 255);">
                            <div style="margin-top: 1rem;text-align: right;" dir="rtl">
                                <a href="">
                                    <img src="https://buckettest.storage.c2.liara.space/uploads/mails-images/logo.png"
                                        style="width: 5rem;filter: drop-shadow(0px 0px 5px rgb(0, 153, 255));"
                                        alt="logo">
                                </a>
                            </div>
                            <div style="margin-top: 2rem;text-align: right;">
                                <p dir="rtl"
                                    style="font-family: 'Rubik', sans-serif; font-size: 1rem;font-weight: 400; line-height: 2rem;">
                                    ما در Virtual Learn به شما
                                    کمک می‌کنیم تا با بهترین منابع آموزشی از جمله فیلم‌های یوتیوب و یودمی، مهارت‌های
                                    برنامه‌نویسی
                                    خود را بهبود ببخشید. تمامی دوره‌ها با دقت انتخاب و به زبان فارسی زیرنویس شده‌اند تا
                                    یادگیری برای
                                    شما ساده‌تر و لذت‌بخش‌تر باشد. هدف ما ایجاد بستری است که هر فردی با هر سطحی از دانش،
                                    بتواند به
                                    آسانی مهارت‌های جدید بیاموزد و در دنیای دیجیتال امروز موفق شود.</p>
                            </div>
                            <div style="padding-top: 2rem;gap: 1rem; text-align: center;">
                                <a href="/">
                                    <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png"
                                        alt="linkedin" />
                                </a>
                                <a href="/">
                                    <img width="48" height="48"
                                        src="https://img.icons8.com/color/48/telegram-app--v1.png"
                                        alt="telegram-app--v1" />
                                </a>
                                <a href="/">
                                    <img width="48" height="48"
                                        src="https://img.icons8.com/color/48/instagram-new--v1.png"
                                        alt="instagram-new--v1" />
                                </a>
                            </div>
                        </footer>
                    </div>
                </td>
            </tr>
        </table>
    </main>

</body>

</html>